body {
  background: rgb(2, 0, 36);
  background: linear-gradient(to top left, #800000 24%, #000099 86%);
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding-right: 40px;
  margin-top: -40px;
}
.container > form {
  width: 90%;
  /* height: 50%; */
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  margin-right: 500px;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #0563b4 !important;
}
p {
  color: red;
}
.ui.celled.table{
  float: right;
  margin-left: 1000px;
  margin-top: -300px;
  background: linear-gradient(to top left, #c8acac 24%, #a9a9c5 86%);

}
.header{
  padding-right: 400px;
}
